body {
  background: linear-gradient(30deg, #1d1e2c, #3d3b30);
  color: #435058;
}

header {
  position: static;
}

main ul {
  width: 1200px;
  margin: 0 auto 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px 2px;
}

li:nth-of-type(3) {
  grid-column: 1 / span 2;
}

main li {
  display: flex;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
}

main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

.item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.actions {
  text-align: right;
}

.actions a {
  text-decoration: none;
  padding: 6px;
  color: #16d3e4;
  font-weight: bold;
  border-radius: 5px;
}

.actions a:hover {
  background-color: rgba(22, 211, 228, 0.15);
}
