#hero {
  height: 800px;
  background-image: url(https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
  background-position: center;
  background-size: cover;
}

#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  position: relative;
  top: 250px;
}

#hero-content h1 {
  color: #f6ae2d;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Indie Flower", sans-serif;
  margin: 0;
}

#hero-content p {
  color: #fff8e8;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 32px;
}

#hero-content a {
  text-decoration: none;
  background-color: #f6ae2d;
  padding: 12px 24px;
  color: #000;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
}

#hero-content a:hover {
  background-color: #fcdc4d;
}

#highlights {
  padding: 24px;
  background: linear-gradient(0deg, #e4fde1, #97d8c4);
}

#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: #1e212b;
  margin: 24px 0;
}

#destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}

.destination {
  margin: 0 20px;
  text-transform: uppercase;
}
.destination img {
  height: 250px;
  width: 100%;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}

.destination p {
  text-align: center;
  font-size: 24px;
  color: #1e212b;
  margin: 10px 0;
}

.destination strong {
  color: #0bb8b5;
}
